
body { 
  background-color: #000000;
  background-image: url(https://cdn.discordapp.com/attachments/1217942453756231701/1396846711489695775/1744583573053360.png?ex=687f9260&is=687e40e0&hm=dc2517db2b4e93e60b7922cc47cb7ab94a54b06dba6ca7ee1194250fe26f2dcb) !important;
  background-repeat: repeat;
  color: #ff0000; 
} 
.profile_text { 
  color: #ff0000;
} 
a, a:visited, a:active, .profile_text a, .profile_text a:visited, .profile_text a:active { 
  color: #00ff33;
  text-decoration: none;
}
.profile_text a:hover, a:hover {
  color: #00ff33;
  text-decoration: underline;
}
