
body { 
  background-color: #000000;
  background-image: url(https://cdn.discordapp.com/attachments/696874211012247572/848366499043606568/TxEy.gif) !important;
  background-repeat: repeat;
  color: #ff0000; 
} 
.profile_text { 
  color: #ff0000;
} 
a, a:visited, a:active, .profile_text a, .profile_text a:visited, .profile_text a:active { 
  color: #00ff33;
  text-decoration: none;
}
.profile_text a:hover, a:hover {
  color: #00ff33;
  text-decoration: underline;
}
